<!--Created by Matolay Pál-->
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ismertető - {{ chapter }}. fejezet</title>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<a href="/">Tartalomjegyzék</a>
<div id="{{ chapter }}">
<div id="text"></div>
</div>
<script src="../static/js/reader.js"></script>
</body>
</html>