<!--Created by Matolay Pál-->
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ismertető - Függelék</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
<body>
<div class="text-box">
    <h1>A Magyar MAG-nép Méltóságának és Örökségének Ügye Közügy</h1>
    <p>Az archeogenetika eredményeinek jóvoltából kiderült, hogy a magyarság MAG-népként a globális viszonyokat meghatározó
    nyugati civilizáció ősrétege (1). Az utóbbi századokban kialakult kilátástalan globális helyzet (2) öngyilkos jellege
    viszont egy új globális gondolkozásmód megteremtését igényli. Ez megkívánja a globális viszonyokat irányító nyugati
    civilizáció 35-40 000 éves ősrétegében felhalmozódott tanulságok a 21. sz. viszonyai közti hasznosítását, amelyre a
    magyarság kettős identitása (3), valamint ősi szellemisége (4) lehetőséget adhat. De ezen szellemiség és identitástudat
    az évezredes germán kultúrgyarmatosítás következtében mára már paralizálttá vált, jóllehet gyógyítása és közkinccsé
    válása időszerű, mivel kreativitás-készsége (5) hatékony hozzájárulást jelenthet egy életigenlő globális modell létrehozásához
    a jelenünket ma még meghatározó élettagadó helyett. Ezért valódi ÖRÖKSÉGE megértésének ügye globális közügy, mivel
    régmúltjának és tudatalattijának mélyrétegeiben valamint génjeiben tárolja annak tudását, hogy mitől sikeres Japán,
    Kína, Korea és India (6). Bár a történelem vihara mindezt tudatából kitörölte, de az újratanulás feltételei adottak
    amennyiben a szellemi paralíziséből kigyógyul, mivel a globális megújulás ügye igényli azon újfajta gondolkozásmód
    elsajátítását, amely ősiségéből ered. Ezért a nyugati civilizáción belül szükséges egy olyan működőképes modell megteremtése,
    amely hatékonyan képes bemutatni azon energetikai-tudati mozgatórúgókat, amelyek megléte civilizációk emelkedését és
    hiányuk a bukást okozzák, és amellyel létrehozható azon „pillangóhatás” (7), amely a globális megújulás feltétele.
    Ezen folyamat beindítását sokan várják, bár nem tudják, hogy a magyar történelem mélyrétege ezt rejti, amely lehetőséget
    szükséges a megújulást váró globális közvélemény elé tárni. Mivel ez a globális többség pozitív reakcióját vonná maga
    után, amint azt a fiatal kanadai párral történt találkozásom tanulsága (8) is bizonyít. Ezért úgy a ma még félreinformált
    magyar és globális köztudat számára szükséges annak megértetése, hogy a magyar történelem mélyrétegének lehetőségei
    miért fontosak a globális megújulás szempontjából (9). De ez annak megértését is jelenti, hogy a magyarságnak is
    megfelelő méltósággal kell kezelnie a történelmi traumáit megértve „a méreg gyógyszerként is szolgál” (10) tibeti
    közmondás üzenetét. Mert tragédiáiból tanulhat a legtöbbet, de időtálló alkotást csupán szeretettel teremthet, és ez
    különösen az új értékrend (11) megteremtésének folyamatára érvényes. A jelen globális mértékben meghatározó történelemszemlélet
    kialakulásának tudatában viszont ehhez csupán az eddigieknél sokkal őszintébb történelem-szemlélet (12) vezethet.
    A nyugati civilizáció valódi kialakulásából származó szellemi-morális tanulságok megfelelő mélységű megértése nélkül
    nincs biztonságos nyugati jövő, de civilizációnk túlélése és megújítása (13) is lehetetlen enélkül. Valamennyiünk
    biztonságos globális jövőjének megteremtése érdekében íródott tehát azon 3 könyvből álló könyvtrilógia (14), amely a
    több mint 35 évvel ezelőtt Japánban megkezdett kutatás (15) eredményeként jött létre, amikor az u. n. „japán gazdasági
    csoda” a csúcsán volt. Ezen „csoda” megteremtésének módszere pedig tanulható különösen a magyarság számára, amely valaha
    ismerte ennek módszereit. De mindez bárki számára elérhető, mivel egy nemzet, kultúrkör, vagy civilizáció megújulásának
    feltétele bizonyos szellemi-morális feltételek megléte, és ehhez a fenti kelet-eurázsiai kultúrák olyan tanulságokkal
    képesek hozzájárulni, amelyek a nyugat-eurázsiai kultúrák megújulása szempontjából is elkerülhetetlen. Ezért a genetika
    és antropológia (16), régészet (17), néprajz (18), művészettörténet (19), és szellemtörténet (20) 21. sz.-i kihívásait
    megfelelően megválaszolni képes olyan új szintézise szükséges, amely egy új típusú nyitottság megteremtésére ad lehetőséget.
    Olyan új közelítésmód megteremtése kívánatos tehát, amelyet legkifejezőbben talán „A japán gazdasági csodától a globális
    szellemi-morális csodáig” cím alatt határozhatnánk meg. Mivel „csoda” nem létezik, csupán a természet mélyrétegeiben
    zajló hatalmas energetikai folyamatok, amely csak a tájékozatlan számára csoda, mivel csupán OK és OKOZAT-ról van szó.
    Vagyis a globális megújulás ügye megkívánja a civilizációteremtő energiák működés-mechanizmusának megfelelő mélységű
    megértését, megteremtve a feltételeket az évezredek által szentesített szellemi gyakorlatok közkinccsé tételéhez. Az
    ÉLETELLENES globális viszonyok ÉLETIGENLŐVÉ történő alakításának szükségessége igényli egy újfajta NYITOTTSÁG megteremtését,
    mivel mindenki számára a megújulás lehetősége adott, amennyiben az a jóindulat, értelem és következetesség megfelelő
    szintjén áll.</p>
    <p>Meggyőződésem, hogy a megfelelő következetességgel és hatékonysággal végzett felvilágosítás esetén a nyugati civilizáción
    belül ezen szint legkönnyebben először a magyarság esetében valósítható meg – és ezzel egy globális hatékonysággal bíró
    modell hozható létre -, azonban ehhez a magyarság szellemi paralízis felszámolása elkerülhetetlen. Trilógiám célja ez,
    amelynek megfelelő szinten történő befejezéséhez és kiadásához szeretném az Önök segítségét kérni!</p>
    <p>Tisztelettel:</p>
    Lépő Zoltán

    <!--1. A magyarság ősiségének kérdése. <a href="chapter/1">Tovább</a><br/>-->
    <!--2. Kilátástalan globális helyzet, öngyilkos civilizáció. <a href="chapter/2">Tovább</a><br/>-->
    <!--3. A magyarság kettős (európai ás ázsiai) identitása. <a href="chapter/3">Tovább</a><br/>-->
    <!--4. A magyarság kettős identitásából származó szellemiség lényege. <a href="chapter/4">Tovább</a><br/>-->
    <!--5. A magyar kreativitás globális fontossága. <a href="chapter/5">Tovább</a><br/>-->
    <!--6. Mitől sikeres Japán, Kína, Korea és India?  <a href="chapter/6">Tovább</a><br/>-->
    <!--7. A „pillangó-hatás” és civilizációmentő szellemi láncreakció. <a href="chapter/7">Tovább</a><br/>-->
    <!--8. Egy fiatal kanadai párral való találkozásom tanulságai. <a href="chapter/8">Tovább</a><br/>-->
    <!--9. A magyar történelem mélyrétegének lehetőségei miért fontosak a globális megújulás szempontjából? <a href="chapter/9">Tovább</a><br/>-->
    <!--10. „A méreg gyógyszerként is szolgál”? <a href="chapter/10">Tovább</a><br/>-->
    <!--11. Mi a probléma a globális-mértékben meghatározó jelen értékrenddel? <a href="chapter/11">Tovább</a><br/>-->
    <!--12. Történelemszemléletünk őszinte-e? <a href="chapter/12">Tovább</a><br/>-->
    <!--13. Civilizációnk túlélésének és megújulásának akadálya. <a href="chapter/13">Tovább</a><br/>-->
    <!--14. A globális megújulás érdekében írt könyvtrilógia bemutatása. <a href="chapter/14">Tovább</a><br/>-->
    <!--15. A Japánban megkezdett kutatás-sorozatom lényege. <a href="chapter/15">Tovább</a><br/>-->
    <!--16. Genetika és antropológia. <a href="chapter/16">Tovább</a><br/>-->
    <!--17. A régészeti leletek. <a href="chapter/17">Tovább</a><br/>-->
    <!--18. A magyar néprajz bizonyítékai. <a href="chapter/18">Tovább</a><br/>-->
    <!--19. A művészettörténet megkérdőjelezhető megállapításai. <a href="chapter/19">Tovább</a><br/>-->
    <!--20. A szellemtörténet Új Paradigmája megteremtésének szükségessége. <a href="chapter/20">Tovább</a><br/>-->
</div>
<div class="footer navbar-fixed-bottom text-center">
    <p id= "navbartext">Created by Pál Matolay | <a href="https://github.com/matolaypal/project_zoltan">GitHub</a>
        | <a href="mailto:matolaypal@gmail.com">Send e-mail</a> | All rights reserved</p>
</div>
</body>
</html>