<!--Created by Matolay Pál-->
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ismertető - </title>
</head>
<body>
<h1>Lépő Zoltán:</h1>
<h2>A Magyar MAG-nép Méltóságának és Örökségének Ügye Közügy-A</h2>
1. A magyarság ősiségének kérdése. <a href="/1">Tovább</a><br/>
2. Kilátástalan globális helyzet, öngyilkos civilizáció. <a href="/2">Tovább</a><br/>
3. A magyarság kettős (európai ás ázsiai) identitása. <a href="/3">Tovább</a><br/>
4. A magyarság kettős identitásából származó szellemiség lényege. <a href="/4">Tovább</a><br/>
5. A magyar kreativitás globális fontossága. <a href="/5">Tovább</a><br/>
6. Mitől sikeres Japán, Kína, Korea és India?  <a href="/6">Tovább</a><br/>
7. A „pillangó-hatás” és civilizációmentő szellemi láncreakció. <a href="/7">Tovább</a><br/>
8. Egy fiatal kanadai párral való találkozásom tanulságai. <a href="/8">Tovább</a><br/>
9. A magyar történelem mélyrétegének lehetőségei miért fontosak a globális megújulás szempontjából? <a href="/9">Tovább</a><br/>
10. „A méreg gyógyszerként is szolgál”? <a href="/10">Tovább</a><br/>
11. Mi a probléma a globális-mértékben meghatározó jelen értékrenddel? <a href="/11">Tovább</a><br/>
12. Történelemszemléletünk őszinte-e? <a href="/12">Tovább</a><br/>
13. Civilizációnk túlélésének és megújulásának akadálya. <a href="/13">Tovább</a><br/>
14. A globális megújulás érdekében írt könyvtrilógia bemutatása. <a href="/14">Tovább</a><br/>
15. A Japánban megkezdett kutatás-sorozatom lényege. <a href="/15">Tovább</a><br/>
16. Genetika és antropológia.16. Genetika és antropológia. <a href="/16">Tovább</a><br/>
17. A régészeti leletek. <a href="/17">Tovább</a><br/>
18. A magyar néprajz bizonyítékai. <a href="/18">Tovább</a><br/>
19. A művészettörténet megkérdőjelezhető megállapításai. <a href="/19">Tovább</a><br/>
20. A szellemtörténet Új Paradigmája megteremtésének szükségessége. <a href="/20">Tovább</a><br/>
</body>
</html>