<!--Created by Matolay Pál-->
<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Ismertető - Függelék</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/style.css" charset="utf-8">
</head>
<body>
<div class="text-box">
    <h1>A Magyar MAG-nép Méltóságának és Örökségének Ügye Közügy</h1>
    <FONT FACE="Arial Narrow, serif"><FONT SIZE=3>
    <p>Az archeogenetika eredményeinek jóvoltából kiderült, hogy a magyarság MAG-népként a globális viszonyokat meghatározó
        nyugati civilizáció <a href="sekcio/1">ősrétege</a> (1). Az utóbbi századokban kialakult kilátástalan
        <a href="sekcio/2">globális helyzet</a> (2) öngyilkos jellege viszont egy új globális gondolkozásmód megteremtését
        igényli. Ez megkívánja a globális viszonyokat irányító nyugati civilizáció 35-40 000 éves ősrétegében felhalmozódott
        tanulságok a 21. sz. viszonyai közti hasznosítását, amelyre a magyarság <a href="sekcio/3">kettős identitása</a>
        (3), valamint ősi <a href="sekcio/4">szellemisége</a> (4) lehetőséget adhat. De ezen szellemiség és identitástudat
        az évezredes germán kultúrgyarmatosítás következtében mára már paralizálttá vált, jóllehet gyógyítása és közkinccsé
        válása időszerű, mivel <a href="sekcio/5">kreativitás-készsége</a> (5) hatékony hozzájárulást jelenthet egy életigenlő
        globális modell létrehozásához a jelenünket ma még meghatározó élettagadó helyett. Ezért valódi ÖRÖKSÉGE megértésének
        ügye globális közügy, mivel régmúltjának és tudatalattijának mélyrétegeiben valamint génjeiben tárolja annak tudását, hogy
        <a href="sekcio/6">mitől sikeres Japán, Kína, Korea és India</a> (6). Bár a történelem vihara mindezt tudatából kitörölte,
        de az újratanulás feltételei adottak amennyiben a szellemi paralíziséből kigyógyul, mivel a globális megújulás ügye
        igényli azon újfajta gondolkozásmód elsajátítását, amely ősiségéből ered. Ezért a nyugati civilizáción belül szükséges
        egy olyan működőképes modell megteremtése,
        amely hatékonyan képes bemutatni azon energetikai-tudati mozgatórúgókat, amelyek megléte civilizációk emelkedését és
        hiányuk a bukást okozzák, és amellyel létrehozható azon <a href="sekcio/7">„pillangóhatás”</a> (7), amely a globális megújulás feltétele.
        Ezen folyamat beindítását sokan várják, bár nem tudják, hogy a magyar történelem mélyrétege ezen feltételt rejti, amelyet lehetőséget
        szükséges a megújulást váró globális közvélemény elé tárni. Mivel ez a globális többség pozitív reakcióját vonná maga
        után, amint azt <a href="sekcio/8">a fiatal kanadai párral történt találkozásom tanulsága</a> (8) is bizonyítanak.
        Ezért úgy a ma még félreinformált magyar és globális köztudat számára szükséges annak megértetése, hogy
        <a href="sekcio/9">a magyar történelem mélyrétegének lehetőségei miért fontosak a globális megújulás szempontjából</a> (9).
        De ez annak megértését is jelenti, hogy a magyarságnak is megfelelő méltósággal kell kezelnie a történelmi traumáit megértve
        <a href="sekcio/10">„a méreg gyógyszerként is szolgál”</a>(10) tibeti
        közmondás üzenetét. Mert tragédiáiból tanulhat a legtöbbet, de időtálló alkotást csupán szeretettel teremthet, és ez
        különösen az <a href="sekcio/11">új értékrend</a> (11) megteremtésének folyamatára érvényes. A jelen globális mértékben meghatározó történelemszemlélet
        kialakulásának tudatában viszont ehhez csupán az eddigieknél sokkal <a href="sekcio/12">őszintébb történelem-szemlélet</a> (12) vezethet.
        A nyugati civilizáció valódi kialakulásából származó szellemi-morális tanulságok megfelelő mélységű megértése nélkül
        nincs biztonságos nyugati jövő, de <a href="sekcio/13">civilizációnk túlélése és megújítása</a> (13) is lehetetlennek tűnik enélkül. Valamennyiünk
        biztonságos globális jövőjének megteremtése érdekében íródott tehát azon <a href="sekcio/14">könyvtrilógia</a> (14), amely a
        több mint 35 évvel ezelőtt <a href="sekcio/15">Japánban megkezdett kutatás</a> (15) eredményeként jött létre, amikor az u. n. „japán gazdasági
        csoda” a csúcsán volt. Ezen „csoda” megteremtésének módszere viszont tanulható különösen a magyarság számára, amely valaha
        ismerte ezt. De mindez bárki számára elérhető, mivel egy nemzet, kultúrkör, vagy civilizáció megújulásának
        feltétele bizonyos szellemi-morális feltételek megléte, és ehhez a fenti kelet-eurázsiai kultúrák olyan tanulságokkal
        képesek hozzájárulni, amelyek a nyugat-eurázsiai kultúrák megújulása szempontjából is szükséges lenne megtanulni. Ezért a
        <a href="sekcio/16">genetika és antropológia</a> (16), <a href="sekcio/17">régészet</a> (17),
        <a href="sekcio/18">néprajz</a> (18), <a href="sekcio/19">művészettörténet</a> (19), és <a href="sekcio/20">szellemtörténet</a> (20) 21. sz.-i kihívásait
        megfelelően megválaszolni képes olyan új szintézise szükséges, amely egy új típusú nyitottság megteremtésére ad lehetőséget.
        Olyan új közelítésmód megteremtése kívánatos tehát, amelyet legkifejezőbben talán „<u>A japán gazdasági csodától a globális
        szellemi-morális csodáig</u>” cím alatt fogalmazhatnánk meg. Mivel „csoda” nem létezik, csupán a természet mélyrétegeiben
        zajló hatalmas energetikai folyamatok, amely csak a tájékozatlan számára csoda, mivel csupán OK és OKOZAT kölcsönhatásainak megnyilvánulásáról van szó.
        Vagyis a globális megújulás ügye megkívánja a civilizációteremtő energiák működés-mechanizmusának megfelelő mélységű
        megértését, megteremtve a feltételeket az évezredek által szentesített szellemi gyakorlatok közkinccsé tételéhez. Az
        ÉLETELLENES globális viszonyok ÉLETIGENLŐVÉ történő alakításának szükségessége igényli egy újfajta NYITOTTSÁG megteremtését,
        mivel mindenki számára a megújulás lehetősége adott, amennyiben a jóindulat, értelem és következetesség megfelelő
        szintjén áll.</p>
    <p>Meggyőződésem, hogy a megfelelő következetességgel és hatékonysággal végzett felvilágosítás esetén a nyugati civilizáción
        belül ezen szint legkönnyebben először a magyarság esetében valósítható meg – és ezzel egy globális hatékonysággal bíró
        modell hozható létre -, azonban ehhez a magyarság szellemi paralízis felszámolása elkerülhetetlen. Trilógiám célja ez,
        amelynek megfelelő szinten történő befejezéséhez és kiadásához szeretném az Önök segítségét kérni!</p>
    <p>Tisztelettel:</p>Lépő Zoltán
    </FONT></FONT>
</div>
<div class="footer navbar-fixed-bottom text-center">
    <p id= "navbartext">Created by Pál Matolay | <a href="https://github.com/matolaypal/project_zoltan">GitHub</a>
        | <a href="mailto:matolaypal@gmail.com">Send e-mail</a> | All rights reserved</p>
</div>
</body>
</html>